@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@plugin "daisyui";
*{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}